* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left-panel {
    flex: 2;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}
.right-panel {
    flex: 1;
    padding: 20px;
    background: #fafafa;
    border-left: 1px solid #ddd;
    overflow-y: auto;
}
h1 {
    margin-bottom: 10px;
    color: #333;
}
.image-box img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.info {
    margin-top: 15px;
    padding: 10px;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    border-radius: 8px;
}
.accordion {
    margin-top: 15px;
}
.accordion-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
}
.accordion-header {
    background: #5a67d8;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px 6px 0 0;

}

.trash-icon {
    max-width: 100%;
    max-height: 100%;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    filter: invert(1);
}

.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-content img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.obj-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px; 
}

.left-obj-info {
    max-width: 200px;
    font-size: 14px;
}

.left-obj-info img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin-top: 5px;
}

.span_type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.img_type{
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    color: #ffffff;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.img_type:hover{
    border-color: #5a67d8;
    box-shadow: 0 0 5px rgba(90,103,216,0.5);
}

.meta-field {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    max-width: 100%;
    overflow: auto;
}

.meta-field input,
.meta-field select {
    flex: 1;
    padding: 5px;
}


button {
    background: #5a67d8;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #434190;
}
.submit-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.back-button {
    background: #5a67d8;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
    text-decoration: none;
}