<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
</head>
<body>
    <div class="gallery-container">
        {% for image in images %}
        <div class="gallery-item" onclick="window.location.href='{{ url_for('view_image', image_id=image.image_id) }}'">
            <img src="{{ url_for('static', filename='img/Images/' + image.file_path) }}" alt="{{ image.title }}">
            <div class="info">
                <h3>Title : {{ image.title }}</h3>
                <p>Description : {{ image.description }}</p>
                <p>Capture Date : {{ image.capture_date }}</p>
                <p>Location Name : {{ image.location_name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
