<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <link rel="stylesheet" href="{{url_for('static' , filename='timeline.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='leaflet/leaflet.css')}}">
    <script src="{{url_for('static' , filename='leaflet/leaflet.js')}}"></script>
</head>
<body> 
    <div class="map-controller">
        <div id="map" style="width: 100%; height: 600px;">
            <div id="sidebar" class="filter visible">
                <h2>Filter Images</h2>
                <form id="filter-form">
                    <h3 class="showFilter-text" onclick="toggleFilter('class-filter')">Select Classes ↓</h3>
                    <div class="filter-class" id="class-filter" hidden>
                        {% for class in classes %}
                        <label class="class-list">
                            <input type="checkbox" name="class" value="{{ class }}" checked>
                            <span class="class-label">{{ class }}</span>
                        </label>
                        {% endfor %}
                    </div>
                    <h3 class="showFilter-text" onclick="toggleFilter('date-filter')">Select Date Range ↓</h3>
                    <div class="filter-class" id="date-filter" hidden>
                        <label>
                            <span class="class-label">Start Date:</span>
                            <input type="date" id="start-date" name="start-date">
                        </label>
                        <label>
                            <span class="class-label">End Date:</span>
                            <input type="date" id="end-date" name="end-date">
                        </label>
                    </div>
                    <h3 class="showFilter-text" onclick="toggleFilter('metadata-filter')">Select Metadata ↓</h3>
                    <div class="filter-class" id="metadata-filter" hidden>
                        {% for items in metadata_keys %}
                        <label class="class-list">
                            <input type="checkbox" name="metadata" value="{{ items.key }}" onchange="refreshFilteredImages()">
                            <span class="class-label">{{ items.key }}</span>
                        </label>
                        {% endfor %}
                    </div>
                    <br><br>
                    <button type="button" onclick="clearFilters()">Clear Filters</button>
                    <button type="button" onclick="applyFilters()">Apply Filters</button>
                </form>
            </div>
            <!-- LINK CREATION PANEL -->
            <div id="link-panel" class="link-panel hidden">
                <h2>Create a New Link</h2>

                <!-- Selected Elements -->
                <h3>Selected Elements (drag to reorder):</h3>
                <div id="selected-items" class="selected-items">
                    <p class="empty-msg">Click any image, object or point on the map to add it here.</p>
                </div>

                <hr>
                <datalist id="existingLink">
                    {% for link in links %}
                    <option value="{{ link.title }}">
                    {% endfor %}
                </datalist>
                <!-- Link Information -->
                <div class="link-info">
                    <label>Link Title:</label>
                    <input type="text" id="link-title" list="existingLinkTitles" placeholder="Ex: Segment 1 / Shrine → Temple">

                    <label>Link Type:</label>
                    <select id="link-type">
                        {% set firstKey = link_types[0].key %}
                        {% for type in link_types %}
                        <option value="{{ type.key }}">{{ type.label }}</option>
                        {% endfor %}
                        <option value="__new__">+ Add New Type</option>
                    </select>
                    <datalist id="existingLinkTitles">
                        {% for link in links if link.link_type == firstKey %}
                        <h2>Type : {{ link.link_type }}</h2>
                        <option value="{{ link.title }}">
                        {% endfor %}
                    </datalist>

                    <div id="new-type-box" class="new-type-box" style="display:none;">
                        <input type="text" id="new-type-key" placeholder="Internal key (ex: pilgrimage)">
                        <input type="text" id="new-type-label" placeholder="Displayed label (ex: Pèlerinage)">
                        <textarea id="new-type-description" placeholder="Description (optional)"></textarea>
                        <button class="small-btn" onclick="createNewLinkType()">Save New Type</button>
                    </div>

                    <label>Description (optional):</label>
                    <textarea id="link-description" placeholder="Describe this link..."></textarea>
                </div>

                <hr>

                <h3>Metadata</h3>
                <div id="meta-1" class="metadata-section"></div>
                <button class="small-btn" id="add-metadata-link">+ Add Metadata</button>

                <hr>
                <div class="geojson-box">
                    <label class="geojson-label">Import GeoJSON Path:</label>
                    <input type="file" id="geojson-input" accept=".geojson,.json">
                    <small class="geojson-help">Upload a GeoJSON file containing a LineString path.</small>
                    <div id="geojson-status" class="geojson-status"></div>
                </div>
                <button id="save-link" class="save-btn">Save Link</button>
            </div>

        </div>
        <div class="sidebar visible" id="sidebar-images">
            <h2>Image sidebar</h2>
            <div id="image-list">
                <p>Click on a image to see it on the map.</p>
                <div class="image-thumbnails">
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar-timeline"></div>
    </div>
    <div class="visualization-controls">
        <h2>Visualization Options</h2>
        <div class="vis-options">
            <label>
                <input type="checkbox" id="toggle-cluster" checked>
                <span>Enable Clustering</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-sidebar" checked>
                <span>Show SIDEBAR</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-timeline">
                <span>Show Timeline</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-object-links">
                <span>Show Object Links</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-filters" checked>
                <span>Show Filters</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-add-links">
                <span>Enable Link Creation</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-show-links" checked>
                <span>Show Links</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-only-images-with-links">
                <span>Show Only Images With Links</span>
            </label>
        </div>

        <hr>

        <div class="vis-imports">
            <h3>Data Import</h3>
            <button id="import-geojson">Import GeoJSON</button>
            <button id="import-other">Import Dataset</button>
        </div>
    </div>
    <script>
        window.appConfig = {
            images: {{ images|tojson }},
            classes: {{ classes|tojson }},
            objects_linked: {{ object_links|tojson }},
            links: {{ links|tojson }},
            link_types: {{ link_types|tojson }},
            metadata_keys: {{ metadata_keys|tojson }},
            icons: {{ icons|tojson }},
            points : {{ points|tojson }},
            URL_for_images: "{{ url_for('static', filename='img/Images/') }}",
            URL_for_view_image: "{{ url_for('main_routes.view_image', image_id=0) }}",
            crossIcon: "{{ url_for('static', filename='img/svg/cross.png') }}",
            trashIcon: "{{ url_for('static', filename='img/svg/trash.png') }}",
            icons_path: "{{ url_for('static', filename='img/svg/') }}"
        };
        const AppState = {
            metadataKeys : window.appConfig.metadata_keys,
            classNames : window.appConfig.classes,
            metadataUsed : []
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static' , filename='js/timeline.js')}}"></script>
    <script type="module" src="{{url_for('static' , filename='js/map.js')}}"></script>
</body> 
