<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <link rel="stylesheet" href="{{url_for('static' , filename='leaflet/leaflet.css')}}">
    <script src="{{url_for('static' , filename='leaflet/leaflet.js')}}"></script>
</head>
<body> 
    <div id="map" style="width: 100%; height: 600px;">
        <div id="sidebar" class="filter">
            <h2>Filter Images</h2>
            <form id="filter-form">
                <h3 class="showFilter-text" onclick="toggleFilter('class-filter')">Select Classes ↓</h3>
                <div class="filter-class" id="class-filter" hidden>
                    {% for class in classes %}
                    <label class="class-list">
                        <input type="checkbox" name="class" value="{{ class }}" checked>
                        <span class="class-label">{{ class }}</span>
                    </label>
                    {% endfor %}
                </div>
                <h3 class="showFilter-text" onclick="toggleFilter('date-filter')">Select Date Range ↓</h3>
                <div class="filter-class" id="date-filter" hidden>
                    <label>
                        <span class="class-label">Start Date:</span>
                        <input type="date" id="start-date" name="start-date">
                    </label>
                    <label>
                        <span class="class-label">End Date:</span>
                        <input type="date" id="end-date" name="end-date">
                    </label>
                </div>
                <br><br>
                <button type="button" onclick="clearFilters()">Clear Filters</button>
                <button type="button" onclick="applyFilters()">Apply Filters</button>
            </form>
        </div>
    </div>

    <div class="visualization-controls">
        <h2>Visualization Options</h2>
        <div class="vis-options">
            <label>
                <input type="checkbox" id="toggle-cluster" checked>
                <span>Enable Clustering</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-heatmap">
                <span>Show Heatmap</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-timeline">
                <span>Show Timeline</span>
            </label>
            <label>
                <input type="checkbox" id="toggle-links">
                <span>Show Object Links</span>
            </label>
        </div>

        <hr>

        <div class="vis-imports">
            <h3>Data Import</h3>
            <button id="import-geojson">Import GeoJSON</button>
            <button id="import-other">Import Dataset</button>
        </div>
    </div>
    <script>
        window.appConfig = {
            images: {{ images|tojson }},
            classes: {{ classes|tojson }},
            metadata_keys: {{ metadata_keys|tojson }},
            icons: {{ icons|tojson }},
            points : {{ points|tojson }},
            URL_for_images: "{{ url_for('static', filename='img/Images/') }}",
            URL_for_view_image: "{{ url_for('main_routes.view_image', image_id=0) }}",
            crossIcon: "{{ url_for('static', filename='img/svg/cross.png') }}",
            trashIcon: "{{ url_for('static', filename='img/svg/trash.png') }}",
            icons_path: "{{ url_for('static', filename='img/svg/') }}"
        };

        const AppState = {
            metadataKeys : window.appConfig.metadata_keys,
            classNames : window.appConfig.classes,
            metadataUsed : []
        };
    </script>
    <script type="module" src="{{url_for('static' , filename='js/map.js')}}"></script>
</body> 
